html,
body {
  height: 100%;
  background: #1e1f2e;
  color: white;
  font-family: monospace;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
main {
  width: 100%;
  max-width: 1400px;
  box-sizing: border-box;
  padding: 0 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 10px);
}
section {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
}
aside {
  margin-bottom: 5px;
}
div.col {
  flex: 1;
  padding: 5px 5px 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid #aaa;
  margin: 0 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
pre {
  margin: 0;
  padding: 0;
  white-space: pre-wrap;
}
a {
  color: #58a6ff;
  text-decoration: none;
}

.editor {
  width: 100%;
  flex: 1;
  border-bottom: 1px solid #34364f;
  overflow: hidden;
}
footer {
  display: flex;
  justify-content: flex-end;
  padding: 8px 0 0;
}
button {
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}
button.run {
  background: #28a745;
}
button.run:hover {
  background: #218838;
}
button.save {
  background: #007bff;
}
button.save:hover {
  background: #0069d9;
}
button:hover {
  background: #218838;
}
.loading {
  opacity: 0.5;
  margin: 5px 20px 10px;
}
.status {
  color: #2490b5;
  margin: 5px 0;
}
.installed {
  color: #777;
  padding-bottom: 8px;
  border-bottom: 1px solid #34364f;
  margin-bottom: 8px;
}
.output {
  overflow: auto;
}
.tabs {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  border-bottom: 1px solid #34364f;
}
.tab {
  padding: 6px 8px 6px 15px;
  cursor: pointer;
  color: white;
  border-top: 1px solid #34364f;
  border-right: 1px solid #34364f;
}
.tab:hover {
  background: #27293c;
}
.active {
  background: #34364f !important;
}
.new {
  padding: 8px 15px;
  font-size: 1.4rem;
  border: 1px solid transparent;
}
.new:hover {
  border: 1px solid #705326;
}
.close {
  display: inline-block;
  margin-left: 4px;
  padding: 2px 6px;
  font-size: 1.2rem;
  border: 1px solid transparent;
}
.close:hover {
  border: 1px solid #705326;
}

/*toggle switch*/
.toggle .name {
  vertical-align: middle;
  display: inline-block;
  margin: 10px 5px 0;
}
.toggle .switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 25px;
  margin-top: 6px;
}
.toggle .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.toggle .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
}
.toggle .slider:before {
  border-radius: 50%;
}
.toggle .slider:before {
  position: absolute;
  content: '';
  height: 21px;
  width: 21px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
}
.toggle input:checked + .slider {
  background-color: #2196f3;
}
.toggle input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
.toggle input:checked + .slider:before {
  transform: translateX(14px);
}
