@use 'sass:color';

$background: #1e1f2e;
$border: #34364f;
$btn-green: #28a745;
$btn-blue: #007bff;
$tab-hover-border: #705326;
$mobile-limit: 800px;
$status-color: #2490b5;

html,
body {
  background: $background;
  color: white;
  font-family: monospace;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
html,
body,
#root,
main {
  height: 100%;
}
main {
  width: 100%;
  max-width: 1400px;
  box-sizing: border-box;
  padding: 5px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
section {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;

  @media (max-width: $mobile-limit) {
    flex-direction: column;
  }
}

h1 {
  margin: 3px;
}
aside {
  margin: 3px;
}
.col {
  flex: 1;
  padding: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid #aaa;
  margin: 3px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
pre {
  margin: 0;
  padding: 0;
  white-space: pre-wrap;
}
a {
  color: #58a6ff;
  text-decoration: none;
}

header {
  margin-bottom: 5px;
}

.editor {
  width: 100%;
  flex: 1;
  border-bottom: 1px solid $border;
  overflow: hidden;
}
footer {
  display: flex;
  justify-content: space-between;
  padding: 8px 3px 0;
  align-items: center;
}
.footer-status {
  color: $status-color;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.footer-buttons {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.fade {
  opacity: 1;
  transition: opacity 300ms ease-out;
}
.fadeout {
  opacity: 0;
}

button {
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  &.green {
    background: $btn-green;
    &:hover {
      background: color.adjust($btn-green, $lightness: -10%);
    }
  }
  &.blue {
    background: $btn-blue;
    &:hover {
      background: color.adjust($btn-blue, $lightness: -10%);
    }
    &:disabled {
      background: color.adjust($btn-blue, $lightness: 20%);
      opacity: 0.6;
      cursor: default;
    }
  }
}

.loading {
  opacity: 0.5;
  margin: 20px;
}
.my-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.pb-10 {
  padding-bottom: 10px;
}
.status {
  color: $status-color;
  text-overflow: ellipsis;
}

.installed {
  color: #777;
  padding-bottom: 8px;
  border-bottom: 1px solid $border;
  margin-bottom: 8px;
}
.output {
  overflow: auto;
  flex: 2;
}
.text-right {
  text-align: right;
}
.smaller {
  font-size: 0.9rem;
}
.tabs {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;

  .tab {
    padding: 6px 8px 6px 15px;
    cursor: pointer;
    color: white;
    border-top: 1px solid $border;
    border-right: 1px solid $border;
    background: color.adjust($background, $lightness: 10%);
  }
  .tab:hover {
    background: color.adjust($background, $lightness: -15%);
  }
  .active {
    background: color.adjust($background, $lightness: -5%);
  }
  .new {
    padding: 8px 15px;
    font-size: 1.4rem;
    border: 1px solid transparent;
  }
  .new:hover {
    border: 1px solid $tab-hover-border;
  }
  .close {
    display: inline-block;
    margin-left: 4px;
    padding: 2px 6px;
    font-size: 1.2rem;
    border: 1px solid transparent;
  }
  .close:hover {
    border: 1px solid $tab-hover-border;
  }
}

// toggle switch
$toggle-active: #2196f3;
$toggle-width: 40px;
$toggle-height: 25px;
$toggle-padding: 2px;
.toggle {
  margin: 0 6px;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  .switch {
    margin-left: 4px;
    position: relative;
    display: inline-block;
    width: $toggle-width;
    height: $toggle-height;
  }
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: $toggle-height;
  }
  .slider:before {
    border-radius: 50%;
  }
  .slider:before {
    position: absolute;
    content: '';
    height: $toggle-height - 2 * $toggle-padding;
    width: $toggle-height - 2 * $toggle-padding;
    left: $toggle-padding;
    bottom: $toggle-padding;
    background-color: white;
    transition: 0.3s;
  }
  input:checked + .slider {
    background-color: $toggle-active;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px $toggle-active;
  }
  input:checked + .slider:before {
    transform: translateX($toggle-width - $toggle-height);
  }
}
